# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
data/
BDALTI/
data_GNN/
unzipped/
downloads/
checkpoints/
eggs/
out/
.eggs/
*.egg-info/
.installed.cfg
*.egg
*.ipynb
# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.envrc
.venv
out/resultats_embeddings.parquet
